/************** "Tree View" support */

/* Remove default bullets */
ul, #config
{
  list-style-type: none;
}
  
/* Remove margins and padding from the parent ul */
#config
{
  margin: 0;
  padding: 0;
}
  
/* Style the caret/arrow */
.caret
{
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before
{
  content: "\25B6";
  color: #007070;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before
{
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested
{
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active
{
  display: block;
}


/************** General styling */
#title
{
    background: #007070;
    color: white;
    margin: 0 0 10px 0;
    padding: 5px;
}

ul#config > li > span
{
  color: #007070;
  font-weight: bold;
}

.pv
{
    font-weight: bold;
}

.disabled
{
    color: gray;
}

.description
{
   color: #007070; 
}

.settings
{
    font-size: smaller;
}

.guidance
{
  margin-top: 5px;
}

.guidance .title
{
  font-style: italic;
}

.guidance .detail
{
  display: block;
  background-color: lightgray;
}

.display::before
{
  content: "\21e8";
  color: darkblue;
  display: inline-block;
  margin-right: 6px;
}

.display
{
  font-style: italic;
}

.problem
{
  color: red;
}
